.about {
  background-color: #0a2850;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  box-sizing: border-box;
  
}

.about__title {
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  margin-left: 80px;
  z-index: 1;
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin: 0 auto;
  margin-top: 119px;
  margin-right: 80px;
  margin-bottom: 173px;
  color: #ffffff;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  gap: 20px;

}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
  }
}

