.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid red;
  gap: 100px;
  margin-bottom: 100px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  width: 600px;
  flex-grow: 1;
  color: #ffffff;
  /* flex-basis: 50%; */
}

.card__title {
  margin-bottom: 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.card__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  flex-basis: 200px;
  flex-grow: 3;
  font-size: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  color: #ffffff
  
}

.card__list-item {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 16px;
  color: #ffffff;

}

.card__list-divider {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #ffffff;
  flex-grow: 1;
  font-family: "Noto Serif", "Times New Roman", serif;
}
