.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
}

.nav__links {
  display: flex;
  align-items: center;
  column-gap: 20px;
  list-style: none;
  margin-top: 30px;
  margin-left: 80px;
}

.nav__link {
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}
