.reservation {
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #d9e7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: none;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
}

.reservation__form {
  max-width: 385px;
  margin-top: 80px;
  margin-bottom: 120px;
  margin: 0 auto;
  margin-top: 80px;
}
